@charset "utf-8";
/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @Author : Park, Kyoung Min (rudals0731@naver.com)
* @File Name: common.css
* @Create Date: 2018-02-20
* @Modifier: -
* @Modified date: -
* @Modified content : -
* ================================================================================= */
.block {display:block;}

table th,
table td {text-align:center;vertical-align: middle !important;}

/* faq */
.panel .pTitle {padding-top:8px;}
.panel .pTitle a {color:#333;}
.panel .pDate {display:inline-block;margin-right:10px;padding-top:8px;}